html {
  background-color: #cfcfcf;
  }
  
h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .gallery {
      height: 250px; width: 180px;
      margin: 20px;
      box-shadow: 0 0 8px gray;
  }

  .image-container {
      max-width: 700px;
  }

  .box {
        display: inline-block;
        width: 140;
        height: 140;
        padding: 10px;
        border: 2px solid;
        border-color:burlywood;
  }